<div>
  @if (departamentos) {
  <table class="table table-striped table-primary">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Localidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (dept of departamentos; track dept) {
      <tr>
        <td>{{ dept.numero }}</td>
        <td>{{ dept.nombre }}</td>
        <td>{{ dept.localidad }}</td>
        <td>
          <!-- <button
            class="btn btn-primary"
            [routerLink]="['/details/' + dept.numero + '/' + dept.nombre + '/' + dept.localidad]"
          >
            Detalles url
          </button> -->
          <button
            class="btn btn-primary"
            [routerLink]="['/details', dept.numero, dept.nombre, dept.localidad]"
          >
            Detalles
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
